body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1f2937, #111827);
    color: white;
}

.main-container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
    text-align:center;
}

#loginBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: center;
    display: block;
    margin: 0 auto;
    background-color: #30cf26;

}

.input-section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.input-card {
    flex: 1;
    background: #1e293b;
    padding: 25px;
    border-radius: 15px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
}

.calculate-btn {
    margin-top: 30px;
    padding: 15px 40px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    background: #3b82f6;
    color: white;
    cursor: pointer;
}

.results-section {
    margin-top: 40px;
}

.result-box {
    padding: 30px;
    border-radius: 20px;
    font-size: 18px;
}

.logout-btn {
    margin-top: 30px;
    background: #ef4444;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}